DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nestjs_auth_db?schema=public
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
CORS_ORIGINS=http://localhost:3000,http://localhost:4200
PORT=3000

